<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Import FontAwesome for icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <title>Document</title>
</head>
<body>
    <header class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <!-- Logo de la empresa -->
            <a class="navbar-brand" href="#">Web and Software</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Menú de navegación -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Sobre mí</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contactos</a>
                    </li>
                </ul>
                <!-- Redes sociales -->
                <ul class="navbar-nav ms-3">
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.linkedin.com/in/daniel-vargas-hermosa" target="_blank">
                            <i class="bi bi-linkedin text-primary fs-4"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/daniel5312" target="_blank">
                            <i class="bi bi-github text-dark fs-4"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://platzi.com/p/danielvh20511/" target="_blank">
                            <i class="bi bi-globe text-secundary fs-4"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://platzi.com/p/danielvh20511/" target="_blank">
                            <img src="/public/assets/icons/unnamed.png" alt="Platzi" width="24" height="24" style="margin-top: 5px">
                        </a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </header>
     <!-- Sección principal (hero) -->
     <section class="hero-section mt-5">
        <div class="container">
            <div class="row">
                <!-- Texto a la izquierda -->
                <div class="col-md-6 bg-wordpress p-5 rounded-4 shadow-lg">
                    <h1>Full Stack con Wordpress</h1>
                    <i class="fab fa-wordpress fa-10x text-primary "></i>
                </div>
                <!-- Imagen a la derecha -->
                <div class="col-md-6 d-flex justify-content-end">
                    <img src="../../public/assets/images/391738947_122100290696082344_206287500162283026_n.jpg" alt="Daniel Vargas" class="img-fluid rounded-4 shadow-lg profile-img">
                </div>
            </div>
        </div>
    </section>
    <div class="container mt-5">
        <div class="row">
            <div class="row mb-4">
                <div class="card">
                    <section class="projects-section bg-light py-5">
                        <div class="row g-4">
                            <div class="col-md-4">
                                <div class="card text-white shadow-sm text-center" style="background-color: #085e14;">
                                        <div class="card-body">
                                            <i class="fab fa-wordpress fs-1"></i>
                                            <h5 class="card-title">Creacion y instalacion de plugins</h5>
                                            <p class="card-text">Con Wordpress</p>
                                            <a href="#" class="btn btn-light">Ver proyecto</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card text-white shadow-sm text-center" style="background-color: #9b2195;">
                                        <div class="card-body">
                                            <i class="fab fa-wordpress fs-1"></i>
                                            <a href="/src/views/wordpress.html" class="text-light"><h5 class="card-title">WordPress</h5></a>
                                            <p class="card-text">Tienda online con WooCommerce.</p>
                                            <a href="https://napwellness.com/" class="btn btn-light">Ver proyecto</a>
                                            <a href="http://biotaorganicosyartesanal.com/" class="btn btn-light">biota</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card text-white shadow-sm text-center" style="background-color: #306998;">
                                        <div class="card-body">
                                            <i class="fab fa-wordpress fs-1"></i>
                                            <h5 class="card-title">Temas para wordpress</h5>
                                            <p class="card-text">Creacion de temas personalizados.</p>
                                            <a href="https://napwellness.com/"class="btn btn-light">Ver proyecto</a>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card text-white shadow-sm text-center" style="background-color: #be89dd;">
                                        <div class="card-body">
                                            <i class="fab fa-wordpress fs-1 bg-wordpress rounded-4"></i>
                                            <h5 class="card-title">Temas para woocommerce</h5>
                                            <p class="card-text">creo temas con wordpress pa woo.</p>
                                            <a href="https://napwellness.com/"class="btn btn-light">Ver proyecto</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card text-white shadow-sm text-center"                         style="background-color: #036603;">
                                        <div class="card-body">
                                            <i class="fab fa-wordpress fs-1 bg-wordpress rounded-4"></i>
                                            <h5 class="card-title">Deployment con wordpress</h5>
                                            <p class="card-text">Entornos de Desarrollo y deployment</p>
                                            <a href="https://napwellness.com/"class="btn btn-light">Ver proyecto</a>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card text-white shadow-sm text-center" style="background-color: #030303;">
                                        <div class="card-body">
                                            <i class="fab fa-wordpress fs-1 bg-wordpress rounded-4"></i>
                                            <h5 class="card-title">Bloques de Gutenberg</h5>
                                            <p class="card-text">Creacion de bloques de Gutenberg</p>
                                            <a href="https://napwellness.com/"class="btn btn-light">Ver proyecto</a>
                                         </div>   
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card text-white shadow-sm text-center" style="background-color: #26533e;">
                                        <div class="card-body">
                                            <i class="fab fa-wordpress fs-1 bg-wordpress rounded-4"></i>
                                            <h5 class="card-title">Full site editing en wordpress</h5>
                                            <p class="card-text">Edicion de Sitios en Wordpress</p>
                                            <a href="https://napwellness.com/"class="btn btn-light">Ver proyecto</a>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card text-white shadow-sm text-center" style="background-color: #762486;">
                                        <div class="card-body">
                                            <i class="fab fa-wordpress fs-1"></i>
                                            <h5 class="card-title">App movil woocommerce</h5>
                                            <p class="card-text">Creacion de App movil con woocommerce</p>
                                            <a href="https://napwellness.com/"class="btn btn-light">Ver proyecto</a>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card text-white shadow-sm text-center" style="background-color: #983c30;">
                                        <div class="card-body">
                                            <i class="fab fa-wordpress fs-1"></i>
                                            <h5 class="card-title">Wordpress en local</h5>
                                            <p class="card-text">Entorno de desarrollo WordPress en local</p>
                                            <a href="https://napwellness.com/"class="btn btn-light">Ver proyecto</a>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </section>  
                    <br>      
                    <div class="card mt-2">
                        <div class="card-body">
                            <div class="card-body">
                                <h5 class="card-title">WordPress: Herramienta con la que He Creado Sitios Web Profesionales</h5>
                                <p class="card-text">WordPress fue una de mis primeras herramientas cuando empecé en el desarrollo web. Me sorprendió su facilidad de uso, la gran cantidad de plugins disponibles y su flexibilidad para adaptarse a cualquier tipo de sitio web.
        
                                </p>
                                <a href="https://www.youtube.com/watch?v=145_QaxIy5I&t=13s" class="btn btn-primary">Leer más</a>
                            </div>
                            <p class="card-title">Con WordPress he creado desde blogs hasta tiendas online y portafolios. Su integración con PHP y MySQL me ha permitido personalizar sitios al máximo, desarrollando plantillas y plugins según las necesidades de cada proyecto.

                            </p>
                            <a href="https://wordpress.org/documentation/article/faq-troubleshooting/" class="btn btn-primary">Leer más</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="httpss://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>